[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group MXE-admins
	owner = group user/MXE Jenkins user (mxecifunc)
	read = group MXE-readonly
	read = group MXE-users
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group user/Functional ID to operate JIRA (jiraopsid)
	read = group user/MXE Jenkins user (mxecifunc)
	push = deny group MXE-users
	push = +force group MXE-admins
	push = group user/MXE Jenkins user (mxecifunc)
	pushMerge = deny group MXE-users
	pushMerge = group user/MXE Jenkins user (mxecifunc)
	label-Code-Review = -2..+2 group user/MXE Jenkins user (mxecifunc)
	label-Code-Review = block -2..+2 group Change Owner
	submit = group MXE-users
	submit = group user/MXE Jenkins user (mxecifunc)
	label-Verified = deny -1..+1 group MXE-users
	label-Verified = -1..+1 group user/MXE Jenkins user (mxecifunc)
	rebase = group MXE-users
	rebase = group user/MXE Jenkins user (mxecifunc)
	createTag = group user/MXE Jenkins user (mxecifunc)
	forgeCommitter = group user/MXE Jenkins user (mxecifunc)
	exclusiveGroupPermissions = label-Verified
	create = group MXE-admins
	create = group user/MXE Jenkins user (mxecifunc)
[project]
	description = Model Execution Environment parent project
[access "refs/for/refs/*"]
	push = group MXE-users
	pushMerge = group MXE-users
[access "refs/heads/*"]
	push = deny group MXE-users
	push = group user/MXE Jenkins user (mxecifunc)
	pushMerge = deny group MXE-users
	submit = group MXE-users
	label-Code-Review = -2..+2 group MXE-users
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/tags/*"]
	createTag = group MXE-admins
	createTag = group user/MXE Jenkins user (mxecifunc)
	createSignedTag = group MXE-admins
	createSignedTag = group user/MXE Jenkins user (mxecifunc)
	delete = group MXE-admins
[access "refs/meta/config"]
	label-Verified = -1..+1 group MXE-admins
	submit = group MXE-admins
[plugin "data-owner"]
	DataOwner = ematpad
	DataOwnerDepartment = BCSS CNS CSE MLOps
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	project = model
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
